@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .field_wrapper {
    @apply flex flex-col gap-1;
  }

  .input_class {
    @apply bg-slate-100 border border-slate-800 focus:outline-slate-800 py-1 px-2 rounded-md;
  }
}

/* Hide scrollbar  */
.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

.hide_scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
